<table id="orders">

  <thead>
    <tr>
      <th>Customer ID</th>
      <th>Order number</th>
      <th>Memo</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>

        <td>
          <%= order.customer_id %>
        </td>

        <td>
          <%= order.order_number %>
        </td>

        <td>
          <%= order.memo %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function(){
    $('#orders').dataTable({
      sAjaxSource: "<%= orders_path %>",
      iDisplayLength: 25,
      bProcessing: true,
      bServerSide: true,
      aoColumns: [
      {
        bSortable: true
      },
      {
        bSortable: true
      },
      {
        bSortable: true
      }],
      aaSorting: [[0, 'DESC']]
    });
  })
</script>
