
<h1>
  Orders
</h1>

<%= stylesheet_link_tag '/datatable/css/demo_page.css' %>
<%= stylesheet_link_tag '/datatable/css/demo_table.css' %>

<%#= stylesheet_link_tag '/datatable/css/smoothness/jquery-ui-1.8.14.custom.css' %>
<%#= stylesheet_link_tag '/datatable/css/demo_table_jui.css' %>

<%= datatable %>

<%= javascript_include_datatable %>
