<table id="orders">

  <thead>
    <tr>
      <th>Customer ID</th>
      <th>Customer name</th>
      <th>Order number</th>
      <th>Memo</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>



<script>
  $(function(){
    $('#orders').dataTable({
      sAjaxSource: "<%= orders_path %>",
      sDom: '<"H"lr>t<"F"ip>',      
      iDisplayLength: 10,
      bProcessing: true,
      bServerSide: true,
      sPaginationType: "full_numbers",
      aoColumns: [
      {
        bSortable: true
      },
      {
        bSortable: true
      },
      {
        bSortable: true
      },
      {
        bSortable: true
      }],
      aaSorting: [[0, 'DESC']]
    });
  })
</script>
